<header>
  <div class=header>
    <div class="headerIn">
      <div >
        <button onClick= "location.href='/car-panel'" class="btn">
          Painel de carro
        </button>
      </div>
      <div >
        <button onClick= "location.href='/forms'" class="btn">
          Formulário
        </button>
      </div>
      <div >
        <button onClick= "location.href='/tabela'" class="btn">
          Tabela
        </button>
      </div>
    </div>
  </div>
</header>


<main >
  <div >
    <router-outlet></router-outlet>

  </div>

</main>