<header>
  <div class=header>
    <div class="headerIn">
      <div >
        <button (click) = "onClick('car-panel')" class="btn">
          Painel de carro
        </button>
      </div>
      <div >
        <button (click) = "onClick('forms')" class="btn">
          Formulário
        </button>
      </div>
      <div >
        <button (click) = "onClick('tabela')" class="btn">
          Tabela
        </button>
      </div>
    </div>
  </div>
</header>


<main >
  <div >
    <router-outlet></router-outlet>

  </div>

</main>