@import "../../../vars.scss";

form {
  border: 1px solid #118bee;
  border-radius: $border-radius;
  box-shadow: $box-shadow $color-shadow;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: $width-card-wide;
  min-width: $width-card;
  padding: 1.5rem;
  text-align: $justify-normal;
}

form header {
  margin: 1.5rem 0;
  padding: 1.5rem 0;
}

input,
label,
select,
textarea {
  color: $color-text;
  display: block;
  font-size: inherit;
  max-width: $width-card-wide;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
  display: inline-block;
  font-weight: normal;
  position: relative;
  top: 1px;
}

input,
select,
textarea {
  border: 1px solid #118bee;
  background-color: $color-bg;
  border-radius: $border-radius;
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem;
}

input[readonly],
textarea[readonly] {
  background-color: $color-bg-secondary;
}

label {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.form form {
  margin: 10px;
  ;
}

.button {
  border-radius: $border-radius;
  display: inline-block;
  font-size: medium;
  font-weight: bold;
  line-height: $line-height;
  margin: 0.5rem 0;
  padding: 1rem 2rem;
  
  margin-right: 10px;
}
.button {
  font-family: $font-family;
}

.button:hover {
  cursor: pointer;
  filter: brightness($hover-brightness);
}

.button {
  background-color: $color;
  border: 2px solid $color;
  color: $color-text;
}

a {
  text-decoration: none;
}